* {
    margin: 0;
    padding: 0;
}


.icon {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.icon_text {
    animation-name: anima;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes anima {
    0% {
        transform: rotateZ(0deg);
    }
    100% {
        transform: rotateZ(360deg);
    }
}

.icon_loz {
    position: absolute;
}

.number-1 {
    position: absolute;
    right: 5%;
    bottom: 7%;
}

@media only screen and (max-width: 575px) {
    .icon_loz {
        width: 54px;
        height: 52px;
    }
    .icon_loz > img {
        width: 100%;
        height: 100%;
    }
    .icon_text {
        width: 122px;
        height: 122px;
    }
    .icon_text > img {
        width: 100%;
        height: 100%;
    }
}


@media only screen and (max-width: 991px) {
    .number-1 {
        right: 5%;
        bottom: 5%;
    }
}
@media only screen and (max-width: 575px) {
    .number-1 {
        bottom: 0;
    }
}

.number-2 {
    position: absolute;
    top: 5%;
    left: 0;
}
















