@import url('https://fonts.googleapis.com/css2?family=Cormorant+Upright:wght@300;400;500;600;700&display=swap');
/* Стиль для импортирования шрифта в стили : font-family: 'Cormorant Upright', serif; */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
/* Стиль для импортирования шрифта в стили : font-family: 'Open Sans', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Nothing+You+Could+Do&display=swap');
/* Стиль для импортирования шрифта в стили : font-family: 'Nothing You Could Do', cursive; */
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');
/* Стиль для импортирования шрифта в стили : font-family: 'DM Serif Display', serif; */

::-webkit-scrollbar {
    width: 0;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #0C0B08;
}

header {
    width: 100%;
    position: relative;
}

h1 {
    font-family: 'Cormorant Upright', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 90px;
    line-height: 130%;
    letter-spacing: 0.04em;
    text-transform: capitalize;
    color: #DCCA87;
    margin-bottom: 0;
    text-align: center;
}

h2 {
    font-family: 'Cormorant Upright', serif;
    font-weight: 600;
    font-size: 64px;
    line-height: 130%;
    letter-spacing: 0.03em;
    text-transform: capitalize;
    color: #DCCA87;
    margin-bottom: 0;
    margin-top: 8px;
}

h5 {
    font-family: 'Cormorant Upright', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 23px;
    line-height: 130%;
    letter-spacing: 0.04em;
    text-transform: capitalize;
    color: #FFFFFF;
    margin-bottom: 8px;
}

p {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #AAAAAA;
    line-height: 175%;
    letter-spacing: 0.04em;
}

.button-a-links {
    text-decoration: none;
    color: #0C0B08;
    padding: 8px 32px;
    background-color: #DCCA87;
    font-family: 'Cormorant Upright', serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 175%;
    letter-spacing: 0.04em;
    transition: .25s ease-in-out;
}

.button-a-links:hover {
    background-color: #dabe5c;
}

.reservations-field-main {
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: 1px solid #F5EFDB;
    padding: 16px;
    font-family: 'Cormorant Upright', serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 175%;
    letter-spacing: 0.04em;
    color: #AAAAAA;
    outline: none;
    box-sizing: border-box;
    display: flex;
}    

/* adptive h2, h5, p */

@media only screen and (max-width: 1399px) {
    h1 {
        font-size: 72px;
    }
    h5 {
        font-size: 18px;
    }
    h2 {
        font-size: 56px;
    }
    p {
        font-size: 14px;
    }
    .button-a-links {
        font-size: 14px;
    }
    .reservations-field-main {
        font-size: 14px;
    }
}

@media only screen and (max-width: 991px) {
    h1 {
        font-size: 54px;
    }
    h5 {
        font-size: 16px;
    }
    h2 {
        font-size: 48px;
    }
    p {
        font-size: 12px;
    }
    .button-a-links {
        font-size: 12px;
    }
    .reservations-field-main {
        font-size: 12px;
    }
}

@media only screen and (max-width: 767px) {
    h1 {
        font-size: 36px;
    }
    h5 {
        font-size: 14px;
    }
    h2 {
        font-size: 40px;
    }
}

/* header */

.header {
    width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-family: 'Cormorant Upright', serif;
    color: white;
    font-size: 44px;
    text-transform: uppercase;
    font-weight: 700;
    padding: 30px 0;
    background: linear-gradient(-135deg, white, #DCCA87, white);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    animation-name: logo_gradient;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    background-size: 1500% 100%;
}

@keyframes logo_gradient {
    0% {
        background-position: 100% 0;
    }
    100% {
        background-position: 0 0;
    }
}

.nav-bar {
    position: relative;
}

.nav-bar-table {
    display: flex;
    gap: 30px;
    margin: 0 !important;
    padding: 0 !important;
}

.nav-bar-item {
    list-style: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
}

.nav-bar-item > a {
    text-decoration: none;
    color: white;
    transition: .4s ease-in-out;
}

.nav-bar-item > a:hover {
    color: #DCCA87;
}

.right_header {
    font-family: 'Open Sans', sans-serif;
    color: white;
    font-size: 16px;
    font-weight: 600;
}

/* adaptive header */

@media only screen and (max-width: 991px) {
    .nav-bar {
        display: none;
    }
}

/*  *//*  *//*  *//*  *//*  *//*  */
/* Основной блок главной страницы */
/*  *//*  *//*  *//*  *//*  *//*  */

/* Первый блок главной страницы */


.one-block-main {
    margin-top: 48px;
    margin-bottom: 150px;
}

.one-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.one-block-main-text {
    width: 40%;
    position: relative;
    display: flex;
    flex-direction: column;
}

.one-block-main-text-title {
    display: flex;
    flex-direction: column;
    margin-bottom: 32px;
}

.one-block-main-text-title > h2 {
    font-size: 90px;
}


.one-block-main-text__text {
    margin-bottom: 32px;
}

.one-block-main-text__button {
    display: flex;
}

.one-block-main-img {
    width: 50%;
    display: flex;
    position: relative;
}

.one-block-main-img::after, .one-block-main-img::before {
    content: '';
    position: absolute;
    width: 65%;
    height: 60%;
    background-color: #DCCA87;
    z-index: -1;
}

.one-block-main-img::after {
    left: 0;
    bottom: 0;
}

.one-block-main-img::before {
    right: 0;
    top: 0;
}

.one-block-main-img > img {
    width: 100%;
    padding: 24px;
    height: fit-content;
}

/* adaptiv */

@media only screen and (max-width: 1599px) {
    .one-block {
        justify-content: space-evenly;
    }
    .one-block-main-text-title > h2 {
        font-size: 80px;
    }
    .one-block-main-img {
        width: 45%;
    }
}

@media only screen and (max-width: 1399px) {
    .one-block-main-text-title > h2 {
        font-size: 70px;
    }
    .one-block-main-text-title {
        margin-bottom: 24px;
    }
    .one-block-main-text__text {
        margin-bottom: 24px;
    }
}
@media only screen and (max-width: 991px) {
    .one-block {
        flex-direction: column-reverse;
        align-items: flex-start;
    }
    .one-block-main-text {
        width: 100%;
        margin-top: 48px;
    }
    .one-block-main-img {
        width: 100%;
    }
    .one-block-main-text-title > h2 {
        font-size: 60px;
    }
    .one-block-main-img > img {
        padding: 18px;
    }
}

@media only screen and (max-width: 767px) {
    .one-block-main-text-title > h2 {
        font-size: 50px;
    }
}

@media only screen and (max-width: 575px) {
    .one-block-main-img > img {
        padding: 12px;
    }
}

/* Второй блок главной страницы */

.about-block-main {
    margin: 150px 0;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(../img/chef-bg.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.about {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
}

.about-bg::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba( 0, 0, 0, .4),rgba( 0, 0, 0, .4));
}

.about-bg > img {
    width: 100%;
    height: auto;
}

.about-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 2;
    padding: 120px 0 140px 0;
    position: relative;
}

.about > img {
    position: absolute;
    z-index: 0;
}

.about-us {
    display: flex;
    flex-direction: column;
    z-index: 1;
    width: 40%;
}

.about-us-title {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-bottom: 32px;
}

.about-us-title > h2 {
    margin-top: 0;
    margin-bottom: 8px;
}

.about-us-text-main {
    text-align: end;
    margin-bottom: 32px;
}

.about-us-buttom {
    display: flex;
    justify-content: end;
}

.our-history {
    display: flex;
    flex-direction: column;
    z-index: 1;
    width: 40%;
}

.our-history-title {
    display: flex;
    flex-direction: column;
    margin-bottom: 32px;
}

.our-history-title > h2 {
    margin-top: 0;
    margin-bottom: 8px;
}

.our-history-text-main {
    margin-bottom: 32px;
}

.our-history-buttom {
    display: flex;
    text-align: start;
}   

/* adaptive about */

@media only screen and (max-width: 991px) {
    .about-content {
        flex-direction: column;
        justify-content: center;
    }
    .about-us {
        align-items: center;
        width: 55%;
    }
    .about-us-title {
        align-items: center;
        margin-bottom: 26px;
    }
    .about-us-text-main {
        text-align: center;
        margin-bottom: 26px;
    }
    .knife-img {
        position: absolute;
        left: 0;
        display: block;
    }
    .about-content {
        align-items: center;
    }
    .our-history {
        align-items: center;
        width: 55%;
        margin-top: 50px;
    }
    .our-history-title {
        align-items: center;
        margin-bottom: 26px;
    }
    .our-history-text-main {
        text-align: center;
        margin-bottom: 26px;
    }
}

@media only screen and (max-width: 767px) {
    .knife-img {
        display: none;
    }
}

@media only screen and (max-width: 575px) {
    .about-us {
        width: 90%;
    }
    .our-history {
        width: 90%;
    }
    .about > img {
        width: 90%;
        height: fit-content;
    }
}

/* Третий блок брони столика */

.reservations-block-main {
    margin: 150px 0;
}

.reservations-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #0C0C0C;
    border: 1px solid rgba(220, 202, 135, 0.2);
    padding: 48px 32px;
}

.reservations_text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.reservations-text-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 64px;
}

.reservations_form {
    width: 100%;
}

.reservations_form > form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.reservations_form_poly {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 64px;
}

.reservations_form_ {
    width: 32%;
} 

.reservations_form_buttom {
    width: 100%;
    display: flex;
    justify-content: center;
}

.reservations_form_buttom > button {
    border: none;
}

/* adaptive reservations-block-main */

@media only screen and (max-width: 1399px) {
    .reservations-text-title {
        margin-bottom: 52px;
    }
    .reservations_form_poly {
        margin-bottom: 52px;
    }
}
@media only screen and (max-width: 1199px) {
    .reservations-text-title {
        margin-bottom: 40px;
    }
    .reservations_form_poly {
        margin-bottom: 40px;
    }
}
@media only screen and (max-width: 991px) {
    .reservations_form_poly {
        flex-direction: column;
        align-items: center;
    }
    .reservations_form_ {
        width: 70%;
        margin-bottom: 18px;
    }
    .reservations_form_:last-child {
        margin-bottom: 0;
    }
}

@media only screen and (max-width: 575px) {
    .reservations_form_ {
        width: 100%;
    }
    .reservations-block {
        padding: 24px 16px;
    }
}

/* menu-nav */

.menu-nav-block-main {
    background: linear-gradient(rgba( 0, 0, 0, .4),rgba( 0, 0, 0, .4)), url(../img/stakan-bg.png);
    background-repeat: no-repeat;   
    background-size: auto auto;
    background-position: center center;
    margin: 150px 0;
}

.menu-nav { 
    position: relative;
    padding: 260px 0;
}   


 .menu-nav-items {
    display: flex;
    flex-direction: column;
}

.menu-nav-items > div {
    margin-bottom: 64px;
}

.menu-nav-items > div:last-child {
    margin-bottom: 0;
}

.menu-nav-items  a {
    font-family: 'Cormorant Upright', serif;
    font-weight: 600;
    font-size: 64px;
    line-height: 130%;
    text-transform: capitalize;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    text-decoration: none;
}

/* adaptive menu-nav-block-main */

@media only screen and (max-width: 1399px) {
    .menu-nav-items a {
        font-size: 58px;
    }
    .menu-nav-items > div {
        margin-bottom: 52px;
    }
}

@media only screen and (max-width: 1199px) {
    .menu-nav-items > div {
        margin-bottom: 40px;
    }
}

@media only screen and (max-width: 991px) {
    .menu-nav-block-main {
        background-size: auto 100%;
    }
    .menu-nav {
        padding: 140px 0;
    }
    .menu-nav-items a {
        font-size: 52px;
    }
    .menu-nav-items > div {
        margin-bottom: 28px;
    }
}
@media only screen and (max-width: 767px) {
    .menu-nav-items a {
        font-size: 46px;
    }
}

@media only screen and (max-width: 575px) {
    .menu-nav-items {
        width: 90%;
        margin: 0 auto;
    }
    .menu-nav-items a {
        font-size: 40px;
    }
}

/* menu-drinks-block-main */

.menu-drinks-block-main {
    margin: 150px 0;
}

.menu-drinks {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu-drinks-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 64px;
}

.menu-drinks-content {
    width: 100%;
    display: flex;
    align-items: center;
    font-family: 'Cormorant Upright', serif;
    margin-bottom: 64px;
}

.drinks-content-item {
    width: 35%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.drinks-item-title {
    font-style: normal;
    font-weight: 600;
    font-size: 45px;
    line-height: 130%;
    letter-spacing: 0.04em;
    text-transform: capitalize;
    color: #FFFFFF;
    margin-bottom: 45px;
}

.drinks-items-content {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.drinks-content-item_img {
    display: flex;
    margin: 0 32px;
}

.drinks-item {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
}

.drinks-item:last-child {
    margin-bottom: 0;
}

.drinks-item-main {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.drinks-item-main-name {
    color: #DCCA87;
    margin-bottom: 0;
}

.drinks-item-main-vector {
    width: 10%;
    display: flex;
    align-items: center;
    flex-grow: 1;
    margin: 0 40px;
}

.drinks-vector {
    width: 100%;
    height: 1px;
    background-color: #FAFAFA;
}

.drinks-item-main-price {
    color: #FFFFFF;
    display: flex;
    align-items: center;
    margin-bottom: 0;
}

.drinks-item-description {
    font-style: normal;
    margin-top: 8px;
    margin-bottom: 0;
}


.menu-drinks-buttom {
    width: 100%;
    display: flex;
    justify-content: center;
}

/* adaptive menu-drinks-block-main */

@media only screen and (max-width: 1399px) {
    .menu-drinks-content {
        align-items: flex-end;
    }
    .menu-drinks-title {
        margin-bottom: 52px;
    }
    .menu-drinks-content {
        margin-bottom: 52px;
    }
    .drinks-item-title {
        margin-bottom: 32px;
    }
    .drinks-content-item_img {
        width: 30%;
        margin: 0 28px;
    }
    .drinks-content-item_img > img {
        width: 100%;
        height: auto;
    }
    .drinks-item {
        margin-bottom: 30px;
    }
    .drinks-item-description {
        font-size: 12px;
    }
    .drinks-item-main-vector {
        margin: 0 25px;
    }
}

@media only screen and (max-width: 991px) {
    .drinks-content-item_img {
        display: none;
    }
    .menu-drinks {
        border: 1px solid rgba(220, 202, 135, 0.2);
        padding: 40px 24px;
    }
    .menu-drinks-content {
        flex-direction: column;
        align-items: center;
    }
    .drinks-content-item {
        width: 60%;
        margin-bottom: 36px;
    }
    .drinks-content-item:last-child {
        margin-bottom: 0;
    }
    .drinks-item-title {
        font-size: 40px;
    }
}

@media only screen and (max-width: 767px) {
    .drinks-item-title {
        font-size: 35px;
    }
}

@media only screen and (max-width: 575px) {
    .drinks-content-item {
        width: 90%;
    }
    .menu-drinks {
        padding: 30px 14px;
    }
}

/* chef-info-main */


.chef-info-main {
    margin: 150px 0;
    padding: 130px 0;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(../img/chef-bg.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.chef-info-block {
    display: flex;
    align-items: center;
    justify-content: center;
}

.chef-img-block {
    width: 45%;
    height: auto;
    margin-right: 100px;
    position: relative;
    display: flex;
}

.chef-img-block::after {
    content: '';
    position: absolute;
    width: 70%;
    height: 60%;
    z-index: 1;
    background-color: #DCCA87;
    left: 0;
    bottom: 0;
}

.chef-img-block::before {
    content: '';
    position: absolute;
    width: 70%;
    height: 60%;
    z-index: 1;
    background-color: #DCCA87;
    right: 0;
    top: 0;
}

.chef-img-block.mobile {
    display: none;
}

.chef-info-block__img {
    width: 100%;
    height: auto;
    padding: 24px;
    z-index: 2;
}

.chef-info-block__text {
    color: #FFFFFF;
    font-style: normal;
    width: 45%;
}


.chef-info-block__text-title {
    margin-bottom: 60px;
    display: flex;
    flex-direction: column;
}

.chef-info-block__text-about {
    margin-bottom: 60px;
    font-family: 'Open Sans', sans-serif;
    font-style: italic;
    font-weight: 400;
    font-size: 16px;
    line-height: 175%;
    letter-spacing: 0.04em;
    color: #AAAAAA;
}

.chef-info-block__text-about-title {
    display: flex;
    align-items: flex-end;
    margin-bottom: 0;
}

.chef-info-block__text-about-title > svg {
    margin-right: 10px;
}

.chef-info-block__text-name-FIO {
    margin-bottom: 8px;
    font-family: 'Cormorant Upright', serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
    letter-spacing: 0.04em;
    text-transform: capitalize;
    color: #DCCA87;
}

.chef-info-block__text-name-post {
    margin-bottom: 30px;
}

.chef-info-block__text-name-painting {
    font-style: normal;
    font-size: 64px;
    line-height: 130%;
    letter-spacing: 0.04em;
    color: #AAAAAA;
    font-family: 'Nothing You Could Do', cursive;
    transform: rotate(-5deg);
    margin-bottom: 0;
}

/* adaptive chef-info-main */

@media only screen and (max-width: 1399px) {
    .chef-img-block {
        margin-right: 50px;
    }
    .chef-info-block__text {
        width: 50%;
    }
    .chef-info-block__text-title {
        margin-bottom: 42px;
    }
    .chef-info-block__text-about {
        margin-bottom: 42px;
    }
    .chef-info-block__text-name-post {
        margin-bottom: 26px;
    }
}

@media only screen and (max-width: 991px) {
    .chef-info-block__text-title {
        margin-bottom: 52px;
    }
    .chef-img-block {
        display: none;
    }
    .chef-img-block.mobile {
        display: flex;
        width: 100%;
        margin: 0 auto;
        z-index: 2;
    }
    .chef-info-block__img {
        padding: 12px;
    }
    .chef-info-block__text {
        width: 100%;
    }
    .chef-info-block__text-about-main {
        margin-bottom: 0;
    }
    .chef-info-block__text-about {
        margin: 52px 0;
    }
    .chef-info-block__text-name-painting {
        font-size: 52px;
    }
}


/* reviews-main */


.reviews-main {
    margin: 150px 0;
}

.reviews-block-title {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.reviews-block-title_svg {
    display: flex;
    justify-content: center;
}

.reviews-block-items {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.reviews-block__item {
    width: 45%;
    margin-right: 30px;
    display: flex;
    align-items: center;
    flex-grow: 1;
    flex-wrap: wrap;
    margin-top: 60px;
}

.reviews-block__item:nth-child(2n) {
    margin-right: 0;
}

.reviews-block__item_img {
    position: relative;
    width: 200px;
    height: 200px;
    display: flex;
    margin-right: 30px;
}

.reviews-block__item_img > img {
    width: 100%;
    height: auto;
    z-index: 1;
}

.reviews-block__item_img > svg {
    position: absolute;
    right: -10px;
    bottom: -10px;
    z-index: 2;
}

.reviews-block__item_text {
    width: 60%;
    flex-grow: 1;
}

.reviews-block__item_text_about {
    font-style: italic;
    margin-bottom: 16px;
}

.reviews-block__item_text_name {
    font-weight: 400;
    font-size: 32px;
    color: #DCCA87;
    margin-bottom: 4px;
}

.reviews-block__item_text_post {
    color: #F5EFDB;
    margin-bottom: 0;
}

/* adaptive reviews-main */

@media only screen and (max-width: 1399px) {
    .reviews-block__item_img {
        width: 160px;
        height: 160px;
        margin-right: 20px;
    }
    .reviews-block__item_text_about {
        margin-bottom: 8px;
    }
    .reviews-block__item_text_about {
        line-height: 160%;
    }
}

@media only screen and (max-width: 991px) {
    .reviews-block-title {
        margin-bottom: 20px;
    }
    .reviews-block-items {
        flex-direction: column;
    }
    .reviews-block__item {
        width: 100%;
        margin-right: 0;
        margin-top: 30px;
    }
}

@media only screen and (max-width: 575px) {
    .reviews-block__item {
        flex-direction: column;
    }
    .reviews-block__item_img {
        margin-right: 0;
        margin-bottom: 20px;
    }
    .reviews-block__item_text {
        width: 90%;
    }
    .reviews-block-title > h2 {
        text-align: center;
    }
}

/* main-video */

.main-video {
    position: relative;
    display: flex;
    height: auto;
    z-index: 1;
}

.main-video > video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
    z-index: 1;
}

.main-video::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 2;
}


/* achievements */

.achievements {
    background: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(../img/abouts_bg.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 130px 0;
    font-style: normal;
}

.achievements-main-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.achievements-main-block-text {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.achievements-main-block-text__title {
    margin-bottom: 60px;
    display: flex;
    flex-direction: column;
}



.achievements-main-block-text__poins {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.achievements-main-block-text__poins-item {
    width: 40%;
    flex-grow: 1;
    margin-right: 30px;
    margin-bottom: 60px;
    display: flex;
}

.achievements-main-block-text__poins-item:nth-child(n+3) {
    margin-bottom: 0;
}

.achievements-main-block-text__poins-item:nth-child(2n) {
    margin-right: 0;
}

.achievements-main-block-text__poins-item-icon {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 30px;
}

.achievements-main-block-text__poins-item-icon > img {
    height: auto;
}

.achievements-main-block-text__poins-item-icon-number {
    position: absolute;
    color: #AAAAAA;
    font-size: 45px;
    margin-bottom: 0;
    font-family: 'DM Serif Display', serif;
}

.achievements-main-block-text__poins-item-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.achievements-main-block-text__poins-item-text-title {
    color: #DCCA87;
}

.achievements-main-block-text__poins-item-text-main {
    margin-bottom: 0;
}

.achievements-main-block-img {
    position: relative;
}

.achievements-logo {
    position: absolute;
    left: -15%;
    bottom: 0;
}

/* adaptive achievements */

@media only screen and (max-width: 1399px) {
    .achievements-main-block-text__title {
        margin-bottom: 40px;
    }
    .achievements-main-block-text {
        width: 53%;
    }
    .achievements-main-block-text__poins-item {
        margin-right: 20px;
        margin-bottom: 40px;
    }
    .achievements-main-block-text__poins-item-icon {
        margin-right: 20px;
    }
    .achievements-main-block-img {
        width: 40%;
    }
    .achievements-logo {
        width: 70%;
        height: auto;
        left: -14%;
    }
    .achievements-main-img {
        width: 100%;
        height: auto;
    }
}

@media only screen and (max-width: 991px) {
    .achievements-main-block {
        flex-direction: column;
    }
    .achievements-main-block-text {
        width: 100%;
    }
    .achievements-main-block-text__poins {
        margin-bottom: 50px;
    }
    .achievements-main-block-img {
        width: 60%;
    }
}

@media only screen and (max-width: 767px) {
    .achievements-main-block-text__poins {
        flex-direction: column;
        align-items: center;
    }
    .achievements-main-block-text__poins-item {
        margin-right: 0;
        margin-bottom: 20px;
        width: 90%;
    }
    .achievements-main-block-text__poins-item:nth-child(n+3) {
        margin-bottom: 20px;
    }
}

/* blogs-main */

.blogs-main {
    margin: 150px 0;
    font-style: normal;
}

.blogs-main-block-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 60px;
}

.blogs-main-block-items {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.blogs-main-block-item {
    width: 20%;
    flex-grow: 1;
    margin-right: 30px;
}

.blogs-main-block-item:nth-child(n+3) {
    margin-right: 0;
}

.blogs-main-block-item__img {
    width: 100%;
    height: auto;
    margin-bottom: 24px;
}

.blogs-main-block-item__publication {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.blogs-main-block-item__title {
    font-weight: 400;
    font-size: 32px;
    color: #DCCA87;
    transition: .25s ease-in;
    text-decoration-line: underline;
    text-decoration-color: transparent;
    text-decoration-skip-ink: none;
    margin-bottom: 30px;
}

.blogs-main-block-item:hover .blogs-main-block-item__title {
    text-decoration-color: #DCCA87;
}

.blogs-main-block-item__text {
    margin-bottom: 30px;
}

.blogs-main-block-item__link {
    text-decoration: none;
    color: #DCCA87;
    font-family: 'Cormorant Upright', serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 175%;
    letter-spacing: 0.04em;
    transition: .25s ease-in;
}

.blogs-main-block-item__link:hover {
    color: #dabe5c;
}

/* adaptive blogs-main */

@media only screen and (max-width: 1399px) {
    .blogs-main-block-title {
        margin-bottom: 40px;
    }
    .blogs-main-block-item__publication {
        margin-bottom: 20px;
    }
    .blogs-main-block-item__title {
        margin-bottom: 20px;
    }
    .blogs-main-block-item__text {
        margin-bottom: 20px;
    }
    .blogs-main-block-item {
        margin-right: 24px;
    }
    .blogs-main-block-item__title {
        font-size: 28px;
    }
}
@media only screen and (max-width: 991px) {
    .blogs-main-block-items {
        flex-direction: column;
        align-items: center;
    }
    .blogs-main-block-item {
        width: 60%;
        margin-right: 0;
        margin-bottom: 36px;
    }
}

@media only screen and (max-width: 767px) {
    .blogs-main-block-item {
        width: 80%;
    }
}

@media only screen and (max-width: 575px) {
    .blogs-main-block-item {
        width: 90%;
    }
}

/* social-main */

.social-main {
    position: relative;
    display: flex;
    align-items: center;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65) ), url(../img/chef-bg.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-top: 150px;
    margin-bottom: 350px;
}

.social-main-block {
    margin: 200px auto;
}

.social-main-block-title {
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
}

.social-main-scroll-block {
    width: 55%;
    position: absolute;
    right: 0;
}

.social-main-scroll-block-items {
    display: flex;
    overflow-x: scroll;
}

.social-main-scroll-block-items::-webkit-scrollbar {
    display: none;
}

.social-main-scroll-block-item {
    margin-right: 30px;
    border: 1px solid rgba(220, 202, 135, 0.5);
    width: auto;
    height: 450px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.social-main-scroll-block-item::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
    opacity: 0;
    transition: .25s ease-out;
}

.social-main-scroll-block-item:hover::before {
    opacity: 1;
}

.social-main-scroll-block-item__img-main {
    height: 100%;
    width: 300px;
}

.social-main-scroll-block-item__img-icon {
    position: absolute;
    width: 20%;
    height: auto;
    opacity: 0;
    transition: .25s ease-out;
    z-index: 2;
}

.social-main-scroll-block-item:hover .social-main-scroll-block-item__img-icon {
    opacity: 1;
}

.social-main-scroll-block-item:last-child {
    margin-right: 0;
}

.social-main-block-text {
    width: 40%;
}

.social-main-block__text {
    margin-bottom: 24px;
}

/* adaptive social-main */

@media only screen and (max-width: 991px) {
    .social-main-block-text {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 65%;
        margin: 0 auto;
    }
    .social-main-block-title {
        align-items: center;
    }
    .social-main-block__text {
        text-align: center;
    }
    .social-main-block {
        margin: 150px auto 400px auto;
    }
    .social-main-scroll-block {
        width: 90%;
        left: 5%;
        bottom: 75px;
    }
    .social-main-scroll-block-item {
        margin-right: 15px;
        height: 250px;
        width: auto;
    }
    .social-main-scroll-block-item__img-main {
        width: 200px;
    }
}

@media only screen and (max-width: 575px) {
    .social-main-block-text {
        width: 90%;
    }
}

/* footer */

.footer-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(../img/chef-bg.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.footer-block {
    position: relative;
}

.footer-form-block {
    position: absolute;
    top: -25%;
}

.footer-main-block-form {
    background-color: #0C0C0C;
    border: 1px solid rgba(220, 202, 135, 0.2);
    padding: 64px 0;
    box-shadow: 22px 30px 95px 1px rgba(0, 0, 0, 0.7);
}

.footer-form-block_title {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 64px;
}

.footer-form-block_title > p {
    color: #FFFFFF;
    margin-bottom: 0;
    margin-top: 24px;
}

.footer-form-block_forms {
    width: 60%;
    display: flex;
    margin: 0 auto;
    align-items: center;
}

.footer-form-block_email {
    flex-grow: 1;
    margin-right: 32px;
    position: relative;
    overflow: hidden;
}

.footer-form-block_email > input {
    width: 100%;
    padding: 16px 20px;
    font-family: 'Cormorant Upright', serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 175%;
    letter-spacing: 0.04em;
    color: #AAAAAA;
    border: 1px solid #F5EFDB;
    background-color: transparent;
}

.footer-form-block_email > input:focus {
    outline: none;
}

.footer-form-block_email::before {
    content: '';
    position: absolute;
    width: 300px;
    height: 100%;
    background: linear-gradient(to right, #dcca8700, #dcca8742, #dcca8700);
    left: 0;
    top: 0;
    z-index: 5;
    transform: translateX(-400px) skew(65deg);
    animation: footer-form-anim_email 10s ease-in-out infinite;
}

@keyframes footer-form-anim_email {
    0% {
        transform: translateX(-400px) skew(65deg);
    }
    40%,
    100% {
        transform: translateX(700px) skew(65deg);
    }
}


.footer-form-block_button > button {
    border: none;
    outline: none;  
}

.footer-main {
    padding: 350px 0 150px 0;
}

.footer-main-items {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-main-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-left__address {
    margin-bottom: 8px;
}

.footer-left__tel {
    margin-bottom: 0;
}

.footer-main-item.centr {
    width: 35%;
}

.footer-main-item__centr-title {
    font-style: normal;
    font-size: 64px;
    line-height: 130%;
    letter-spacing: 0.04em;
    padding: 0;
    margin-bottom: 32px;
}

.footer-main-item__centr-slogan {
    color: #FFFFFF;
    margin-bottom: 16px;
    text-align: center;
}

.footer-main-item__centr-img {
    margin-bottom: 16px;
}

.footer-main-item__centr-social-icon > img {
    margin-right: 20px;
}

.footer-main-item__centr-social-icon > img:last-child {
    margin-right: 0;
}

.footer-social-icon {
    width: 30px;
    height: auto;
}

.footer-title {
    font-family: 'Cormorant Upright', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 130%;
    letter-spacing: 0.04em;
    text-transform: capitalize;
    color: #F5EFDB;
    margin-bottom: 24px;
}

.footer-main-item__right-schedule {
    text-align: center;
    margin-bottom: 8px;
}

.footer-main-item__right-schedule:last-child {
    margin-bottom: 0;
}

.footer-footer {
    text-align: center;
    margin-top: 80px;
    margin-bottom: 0;
}

/* adaptive footer */

@media only screen and (max-width: 1399px) {
    .footer-form-block {
        top: -20%;
    }
    .footer-form-block_title {
        margin-bottom: 44px;
    }
    .footer-form-block_title > p {
        margin-top: 18px;
    }
    .footer-main {
        padding: 300px 0 100px 0;
    }
    .footer-form-block_email > input {
        font-size: 14px;
        padding: 14px 18px;
    }
    .footer-form-block_email {
        margin-right: 18px;
    }
    .footer-main-item__centr-title {
        margin-bottom: 26px;
    }
    .footer-footer {
        margin-top: 60px;
    }
    .footer-title {
        margin-bottom: 20px;
    }
}

@media only screen and (max-width: 1199px) {
    .footer-form-block_forms {
        width: 71%;
    }
    .footer-main-item.centr {
        width: 40%;
    }
}

@media only screen and (max-width: 991px) {
    .footer-form-block {
        top: -25%;
    }
    .footer-form-block_forms {
        flex-direction: column;
    }
    .footer-form-block_forms {
        width: 90%;
    }
    .footer-form-block_email {
        margin-right: 0;
        width: 100%;
        margin-bottom: 18px;
    }
    .footer-main-item.left, .footer-main-item.right {
        display: none;
    }
    .footer-main-items {
        justify-content: center;
    }
    .footer-main-item.centr {
        width: 50%;
    }
    .footer-main-block-form {
        padding: 48px 0;
    }
    .footer-form-block_title {
        margin-bottom: 32px;
    }
    .footer-form-block_email > input {
        padding: 12px 16px;
    }
    .footer-form-block_title > p {
        margin-top: 16px;
    }
}

@media only screen and (max-width: 767px) {
    .footer-main-item.centr {
        width: 70%;
    }
}

@media only screen and (max-width: 575px) {
    .footer-form-block_title {
        width: 90%;
        margin: 0 auto 48px auto;
    }
    .footer-form-block_title > h2 {
        text-align: center;
    }
    .footer-main-item.centr {
        width: 90%;
    }
}


/* faq */

.header-banner-block-main {
    background: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(../img/faq-bg.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-bottom: 150px;
}

.header-banner-block {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 260px 12px;
}



/* faq-block-main */

.faq-block-main {
    margin-bottom: 350px;
}

.faq-block {
    display: flex;
    height: 100%;
}

.faq-block .one-block-main-img {
    width: 50%;
    margin-right: 32px;
    height: fit-content;
}

.faq-block-questions {
    width: 50%;
}

/* adaptive faq-block-main */

@media only screen and (max-width: 1599px) {
    .header-banner-block-main {
        background-size: auto 100%;
    }
}

@media only screen and (max-width: 991px) {
    .header-banner-block-main {
        background-size: 100% 100%;
    }
    .header-banner-block {
        padding: 130px 12px;
    }
}

@media only screen and (max-width: 767px) {
    .header-banner-block-main {
        background-size: auto 100%;
    }    

}

/* accardion faq */
.faq-block-questions__item {
    background-color: #242424;
    border: none;
    margin-bottom: 16px;
}

.faq-block-questions__item:last-child {
    margin-bottom: 0;
}

.faq-block-questions__item-title {
    padding: 24px;
    border: solid 1px transparent;
    border-bottom: none;
    transition: .25s ease-out, padding .1s ease-out;
    cursor: default;
    -webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.faq-block-questions__item-title.open {
    border-color: #DCCA87;
    padding-bottom: 16px;
}

.faq-block-questions__item-title.open .faq-block-questions__item-title-h5 {
    color: #DCCA87;
}

.faq-block-questions__item-title-h5 {
    margin-bottom: 0;
    transition: .25s ease-out;

}

.faq-block-questions__item-text {
    margin-bottom: 0;
    overflow: hidden;
    max-height: 0;
    transition: .25s ease-out;
    padding: 0 24px;
    opacity: 0;
    box-sizing: content-box;
    border: solid 1px #DCCA87;
    border-top: none;
    -webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.faq-block-questions__item-text.open {
    opacity: 1;
    padding-bottom: 24px;
    border-color: #DCCA87;

}


.svg-vector-dicor {
    position: absolute;
    top: 70%;
    left: 0;
    z-index: -10;
    width: 100%;
    height: fit-content;
}

/* adaptive accardion faq */

@media only screen and (max-width: 1399px) {
    .faq-block-questions__item-title {
        padding: 20px;
    }
    .faq-block-questions__item-text {
        padding: 0 20px;
    }
    .faq-block-questions__item-text.open {
        padding-bottom: 20px;
    }
}

@media only screen and (max-width: 1199px) {
    .faq-block-questions__item-title {
        padding: 14px;
    }
    .faq-block-questions__item-text {
        padding: 0 14px;
    }
    .faq-block-questions__item-text.open {
        padding-bottom: 14px;
    }
}

@media only screen and (max-width: 991px) {
    .faq-block {
        flex-direction: column;
    }
    .faq-block .one-block-main-img {
        width: 100%;
        margin-right: 0;
        margin-bottom: 32px;
    }
    .faq-block-questions {
        width: 100%;
    }
}

