@import url('https://fonts.googleapis.com/css2?family=Cormorant+Upright:wght@300;400;500;600;700&display=swap');
/* Стиль для импортирования шрифта в стили : font-family: 'Cormorant Upright', serif; */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
/* Стиль для импортирования шрифта в стили : font-family: 'Open Sans', sans-serif; */

::-webkit-scrollbar {
    width: 0;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #0C0B08;
}

header {
    width: 100%;
    position: relative;
}

.header {
    width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-family: 'Cormorant Upright', serif;
    color: white;
    font-size: 44px;
    text-transform: uppercase;
    font-weight: 700;
    padding: 30px 0;
    background: linear-gradient(-135deg, white, #DCCA87, white);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    animation-name: logo_gradient;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    background-size: 1500% 100%;
}

@keyframes logo_gradient {
    0% {
        background-position: 100% 0;
    }
    100% {
        background-position: 0 0;
    }
}

.nav-bar {
    position: relative;
}

.nav-bar-table {
    display: flex;
    gap: 30px;
}

.nav-bar-item {
    list-style: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
}

.nav-bar-item > a {
    text-decoration: none;
    color: white;
    transition: .4s ease-in-out;
}

.nav-bar-item > a:hover {
    color: #DCCA87;
}

.right_header {
    font-family: 'Open Sans', sans-serif;
    color: white;
    font-size: 16px;
    font-weight: 600;
}

/*  *//*  *//*  *//*  *//*  *//*  */
/* Основной блок главной страницы */
/*  *//*  *//*  *//*  *//*  *//*  */

/* Первый блок главной страницы */

.one-block-main {
    width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-top: 48px;
    margin-bottom: 150px;
}

.hashtag {
    position: absolute;
    display: flex;
    gap: 40px;
    color: #FFFFFF;
    transform: rotate(-90deg);
    left: -3.5%;
}

.hashtag > p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 175%;
    letter-spacing: 0.04em;
}

.one-block-main-text {
    width: 40%;
    position: relative;
    display: flex;
    flex-direction: column;
}

.text-heading { 
    font-family: 'Cormorant Upright', serif;
    color: white;
    font-size: 23px;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 8px;
    line-height: 130%;
    letter-spacing: 0.04em;
    text-transform: capitalize;
}

.text-main {
    font-family: 'Cormorant Upright', serif;
    color: #DCCA87;
    font-size: 90px;
    font-weight: 700;
    line-height: 130%;
    letter-spacing: 0.04em;
    text-transform: capitalize;
    margin-bottom: 32px;
}

.text-footer {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #AAAAAA;
    line-height: 175%;
    letter-spacing: 0.04em;
    margin-bottom: 32px;
}

.text-buttom {
    display: flex;
}

.text-buttom > a {
    text-decoration: none;
    color: #0C0B08;
    padding: 8px 32px;
    background-color: #DCCA87;
    font-family: 'Cormorant Upright', serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 175%;
    letter-spacing: 0.04em;
    transition: .25s ease-in-out;
}

.text-buttom > a:hover {
    background-color: #dabe5c;
}

.one-block-main-img {
    width: 40%;
    display: flex;
    position: relative;
}

.one-block-main-img > img {
    width: 100%;
    padding: 24px;
}

.square_img {
    width: 65%;
    height: 60%;
    position: absolute;
    background-color: #DCCA87;
    z-index: -1;
}

.square_img.one {
    left: 0;
    bottom: 0;
}

.square_img.two {
    right: 0;
    top: 0;
}

/* Второй блок главной страницы */

.about {
    width: 100%;
    background-image: linear-gradient(rgba( 0, 0, 0, .4),rgba( 0, 0, 0, .4)), url(../img/abouts_bg.png);
    background-size: 100% auto;
    background-repeat: no-repeat;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 75px;
    margin-bottom: 160px;
}

.about > svg {
    position: absolute;
    z-index: 0;
}

.about-us {
    display: flex;
    flex-direction: column;
    gap: 32px;
    z-index: 1;
    
}

.about-us-heading {
    font-family: 'Cormorant Upright', serif;    
    font-weight: 600;
    font-size: 64px;
    line-height: 130%;
    letter-spacing: 0.03em;
    text-transform: capitalize;
    color: #DCCA87;
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: end;
}

.about-us-text-main {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 175%;
    text-align: right;
    letter-spacing: 0.04em;
    color: #AAAAAA;
}

.about-us-buttom {
    display: flex;
    justify-content: end;
}

.about-us-buttom > a {
    text-decoration: none;
    color: #0C0B08;
    padding: 8px 32px;
    background-color: #DCCA87;
    font-family: 'Cormorant Upright', serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 175%;
    letter-spacing: 0.04em;
    transition: .25s ease-in-out;
}

.about-us-buttom > a:hover {
    background-color: #dabe5c;
}

.our-history {
    display: flex;
    flex-direction: column;
    gap: 32px;
    z-index: 1;
}

.our-history-heading {
    font-family: 'Cormorant Upright', serif;    
    font-weight: 600;
    font-size: 64px;
    line-height: 130%;
    letter-spacing: 0.03em;
    text-transform: capitalize;
    color: #DCCA87;
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: start;
}

.our-history-text-main {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 175%;
    text-align: left;
    letter-spacing: 0.04em;
    color: #AAAAAA;
}

.our-history-buttom {
    display: flex;
    text-align: start;
}

.our-history-buttom > a {
    text-decoration: none;
    color: #0C0B08;
    padding: 8px 32px;
    background-color: #DCCA87;
    font-family: 'Cormorant Upright', serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 175%;
    letter-spacing: 0.04em;
    transition: .25s ease-in-out;
}

.our-history-buttom > a:hover {
    background-color: #dabe5c;
}

.knife {
    padding: 120px 0;
    z-index: 1;
}

/* Третий блок брони столика */

.reservations {
    width: 72%;
    margin: 150px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 64px;
    background-color: #0C0C0C;
    border: 1px solid rgba(220, 202, 135, 0.2);
    padding: 48px 0;
}

.reservations_text {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
}

.reservations_text_heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.reservations_text_heading > p {
    font-family: 'Cormorant Upright', serif; 
    font-weight: 700;
    font-size: 23px;
    line-height: 130%;
    letter-spacing: 0.04em;
    color: #FFFFFF;
}

.reservations_text_main {
    font-family: 'Cormorant Upright', serif;
    font-weight: 600;
    font-size: 64px;
    line-height: 130%;
    letter-spacing: 0.03em;
    color: #DCCA87;
}

.reservations_form {
    width: 100%;
}

.reservations_form > form {
    display: flex;
    flex-direction: column;
    gap: 64px;
    width: 100%;
}

.reservations_form_poly {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 30px;
}

.reservations_form_ {
    width: 30%;
}

.reservations_form_.person > select, .reservations_form_.data > input, .reservations_form_.time > input {
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: 1px solid #F5EFDB;
    padding: 16px;
    font-family: 'Cormorant Upright', serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 175%;
    letter-spacing: 0.04em;
    color: #AAAAAA;
    outline: none;
    box-sizing: border-box;
}    

.reservations_form_buttom {
    width: 100%;
    display: flex;
    justify-content: center;
}

.reservations_form_buttom > button {
    padding: 8px 32px;
    background-color: #DCCA87;
    border: 1px solid #DCCA87;
    font-family: 'Cormorant Upright', serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 175%;
    letter-spacing: 0.04em;
    color: #0C0C0C;
}

.menu-nav {
    width: 100%;
    height: fit-content;
    margin-bottom: 150px;
    position: relative;
    display: flex;
    align-items: center;
    z-index: 2;
    background: linear-gradient(rgba( 0, 0, 0, .4),rgba( 0, 0, 0, .4));
}


.menu-nav > img {
    width: 100%;
    height: 100%;
    opacity: .6;
}

 .menu-nav-items {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 64px;
    position: absolute;
    left: 7%;
}

.menu-nav-items  a {
    font-family: 'Cormorant Upright', serif;
    font-weight: 600;
    font-size: 64px;
    line-height: 130%;
    text-transform: capitalize;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    text-decoration: none;
}




.menu-drinks {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 64px;
}

.menu-header {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.menu-header-top {
    font-family: 'Cormorant Upright', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 23px;
    line-height: 130%;
    letter-spacing: 0.04em;
    text-transform: capitalize;
    color: #FFFFFF;
    text-align: center;
}

.menu-header-centr {
    display: flex;
    justify-content: center;
}

.menu-header-bottom {
    font-family: 'Cormorant Upright', serif;
    font-style: normal;
    font-weight: 600;
    font-size: 64px;
    line-height: 130%;
    letter-spacing: 0.04em;
    text-transform: capitalize;
    color: #DCCA87;
    text-align: center;
}

.menu-drinks-content {
    width: 100%;
    display: flex;
    gap: 32px;
    align-items: center;
    font-family: 'Cormorant Upright', serif;
}

.drinks-content-item {
    width: 30%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 45px;
}

.drinks-item-header {
    font-style: normal;
    font-weight: 600;
    font-size: 45px;
    line-height: 130%;
    letter-spacing: 0.04em;
    text-transform: capitalize;
    color: #FFFFFF;
}

.drinks-items-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.drinks-content-item_img {
    display: flex;
}

.drinks-item {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.drinks-item-main {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.drinks-item-main-name {
    font-style: normal;
    font-weight: 700;
    font-size: 23px;
    line-height: 130%;
    letter-spacing: 0.04em;
    text-transform: capitalize;
    color: #DCCA87;
}

.drinks-item-main-vector {
    width: 30%;
    display: flex;
    align-items: center;
    flex-grow: 1;
    margin: 0 40px;
}

.drinks-vector {
    width: 100%;
    height: 1px;
    background-color: #FAFAFA;
}


.drinks-item-main-price {
    font-style: normal;
    font-weight: 700;
    font-size: 23px;
    line-height: 130%;
    letter-spacing: 0.04em;
    text-transform: capitalize;
    color: #FFFFFF;
}

.drinks-item-description {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 175%;
    letter-spacing: 0.04em;
    color: #AAAAAA;
}


.menu-drinks-buttom {
    width: 100%;
    display: flex;
    justify-content: center;
}

.menu-drinks-buttom > a {
    background-color: #DCCA87;
    padding: 8px 32px;
    font-family: 'Cormorant Upright', serif;
    text-decoration: none;
    color: #0C0C0C;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 175%;
    letter-spacing: 0.04em;
    transition: .25s ease-in-out;
}

.menu-drinks-buttom > a:hover {
    background-color: #dabe5c;
}


